<<<<<<< Updated upstream
.contents__chat__box__1
  .contents__chat__box__1__title
    = message.user.name
  .contents__chat__box__1__time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__chat__box__1__text
=======
.one
  .one__title
    = message.user.name
  .one__time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .one__text
>>>>>>> Stashed changes
    = message.content
